<% 

limit = local_assigns.has_key?(:limit) ? limit : 10

if local_assigns.has_key? :user 
  collections = user.collections.limit(limit).reverse()
else
  collections = Collection.order("updated_at").limit(limit).reverse()
end
%>

<ul>
  <% for collection in collections %>
    <li><%= link_to collection.title, collection %>, by <%= link_to collection.user.username, collection.user %>, <%= time_ago_in_words(collection.updated_at) %> ago</li>
  <% end %>
</ul>