<% 
limit = local_assigns.has_key?(:limit) ? limit : 10
control_points = local_assigns.has_key?(:user) ? user.control_points.limit(limit).reverse() : control_points = ControlPoint.order("updated_at").limit(limit).reverse()
%>
<ul>
  <% for control_point in control_points %>
    <li><%= render :partial => "control_points/single_control_point", :locals => { :control_point => control_point } %></li>
  <% end %>
</ul>