<div class="row">
  <% if @parent.class.name == "Map" %>
    <h1>Control Points on <%= link_to @parent.title, @parent %></h1>
  <% elsif @parent.class.name == "User" %>
    <h1>Control Points created by <%= link_to @parent.username, @parent %></h1>
  <% end %>
</div>

<% @control_points.each do |control_point| %>
	<%= render :partial => "control_points/control_point_box", :locals => { :control_point => control_point } %>
<% end %>

<div class="row">
    <div class="span12"><center><%= paginate @control_points %></center></div>
</div>
