<div class="singleMapContainer">
    <div class="singleMapInfo">
      <%= link_to map.title, map %><br>
      <%= time_ago_in_words(map.created_at) %> ago<br>
      by <%= link_to map.user.username, map.user %>
    </div>
    <%= link_to image_tag(map.thumbnail_url), map %>
</div>