<h1>Maps</h1>

<div class="mapList">
<% @maps.each do |map| %>
  <%= render :partial => "thumbnail", :locals => { :map => map } %>
<% end %>
</div>
<div class="pseudoButton"><%= link_to 'Upload Map', new_map_path %></div>
