<h1>Contact us</h1>

<ul>
  <li>Our website is <a href="http://maphub.github.com/">maphub.github.com</a>.</li>
  <li>Please file any bug reports in <a href="https://github.com/maphub/maphub-portal/issues?state=open">the issue tracker</a>.</li>
  <li>If you want to leave feedback, use the button labeled <strong>feedback</strong> in the lower right corner.</li>
</ul>