<% if not user_signed_in? %>

  <div class="hero-unit">
    <h1>Welcome to maphub!</h1>
    <blockquote>
    maphub is a portal environment for social annotation of digitized (historic) maps, powered by YUMA.
    </blockquote>
  </div>
  <div class="row">
  <div class="span12">  
  <p>
  <%= link_to 'Log in', new_user_session_path, :class => "btn btn-primary" %> if you already have an account with us.
  </p>
  <p>
  <%= link_to 'Sign up', new_user_registration_path, :class => "btn btn-primary" %> if you want to start contributing. It only takes a minute!
  </p>
  </div>
</div>

<% else %>

  <div class="row">
    <div class="hero-unit">
      <h1>Welcome to maphub!</h1>
      <blockquote>
      maphub is a portal environment for social annotation of digitized (historic) maps, powered by YUMA.
      </blockquote>
    </div>  
  </div>  
  <div class="row">
    <div class="span4">
      <h2>Recent Maps <small>show all</small></h2>
      Render partial here
    </div>
    <div class="span4">
      <h2>Recent Annotations <small>show all</small></h2>
      Render partial here
    </div>
    <div class="span4">
      <h2>New Users <small>show all</small></h2>
      Render partial here
    </div>
  </div>

<% end %>