<% if not user_signed_in? %>


<h1>Welcome to maphub!</h1>
<div id="introduction"></div>

  <blockquote>
  maphub is a portal environment for social annotation of digitized (historic) maps, powered by YUMA.
  </blockquote>

  <div class="pseudoButton" style="float:left;"><%= link_to 'Log in', new_user_session_path %></div>
  <div class="pseudoButton" style="float:left;"><%= link_to 'Sign up', new_user_registration_path %></div>

<% else %>

  <h1>Welcome back to maphub!</h1>
  <div id="introduction"></div>        
  
  <h2>What's new</h2>
  <blockquote>
  maphub is a portal environment for social annotation of digitized (historic) maps, powered by YUMA.
  </blockquote>
  
  <div style="width: 45%; float:left;">
    <h2>Recently uploaded Maps</h2>
    <%= render :partial => "maps/grid", :locals => { :maps => @recent_maps } %>
  </div>
  <div style="width: 45%; float:left;">
    <h2>Recently created Annotations</h2>
    <%= render :partial => "annotations/recent" %>
  </div>


<% end %>