<div class="row">
  <div class="span12">
  <h1>Search Results</h1>

  <p>Your search for "<%= @q %>" returned <%= @results.flatten(2).length - 2 %> results.</p>
  
  <% if @results[:maps].length > 0 %>
    <div class="row">
      <div class="span12">
        <h2 id="maps">Maps</h2>
        <% for map in @results[:maps] %>
          <%= render :partial => "maps/thumbnail", :locals => { :map => map } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @results[:annotations].length > 0 %>
    <div class="row">
      <div class="span12">
        <h2 id="annotations">Annotations</h2>
        <ul>
          <% for annotation in @results[:annotations] %>
            <li><%= render :partial => "annotations/single_annotation", :locals => { :annotation => annotation } %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  </div>
</div>