<div class="row">
  <div class="span12">
  <h1>Search Results</h1>
  
  <p style="margin-bottom:30px">Your search for "<%= @q %>" returned <%= @results.length %> results.</p>
  
  <% if @results.length > 0 %>
    <div class="row">
      <div class="span12">
        <table class="table table-striped">
        <% for map in @results %>
          <%= render :partial => "maps/table_row", :locals => { :map => map } %>
        <% end %>
        </table>
      </div>
    </div>
  <% end %>

  </div>
</div>