<% 
limit = local_assigns.has_key?(:limit) ? limit : 10
annotations = local_assigns.has_key?(:user) ? user.annotations.limit(limit).reverse() : annotations = Annotation.order("updated_at").limit(limit).reverse()
%>
<ul>
  <% for annotation in annotations %>
    <li><%= render :partial => "annotations/single_annotation", :locals => { :annotation => annotation } %></li>
  <% end %>
</ul>