<ul>
  <% for annotation in Annotation.order("edit_date").limit(10).reverse() %>
    <li><%= link_to annotation.title, annotation %>, by <%= link_to annotation.user.username, annotation.user %></li>
  <% end %>
</ul>