<% 

limit = local_assigns.has_key?(:limit) ? limit : 10

if local_assigns.has_key? :user 
  annotations = user.annotations.limit(limit).reverse()
else
  annotations = Annotation.order("updated_at").limit(limit).reverse()
end
%>

<ul>
  <% for annotation in annotations %>
    <li><%= render :partial => "annotations/single_annotation", :locals => { :annotation => annotation } %></li>
  <% end %>
</ul>