<% 
annotations = Annotation.order("updated_at DESC").limit(10)
%>
<ul>
  <% for annotation in annotations %>
    <li><%= render :partial => "annotations/single_annotation", :locals => { :annotation => annotation } %></li>
  <% end %>
</ul>