<tr>
  <td width="190px"><%= render :partial => "users/badge", :locals => { :user => annotation.user } %></td>
  <td><p><%= simple_format h annotation.body %></p></td> 
  <td width="70px"><small><%= time_ago_in_words(annotation.updated_at) %> ago</small></td>
</tr>