// This JavaScript is executed when the #create controller method finishes

// compose new list item
<% annotationText = render :partial => "annotations/single_annotation", :locals => { :annotation => @annotation } %>
var response = "<li><%= escape_javascript(annotationText)%></li>";
$(response).hide().prependTo("#annotation-list").fadeIn("slow");

// re-enable new tooltips
$(".tooltip").tooltip();
$("a[rel=tooltip]").tooltip();

// first clear the editing layer, then load the newly created annotation
$("#viewer").empty();
initOpenLayers();

// slide down the panel
$("#modal-annotation").modal('hide');
// confirmation / error dialog, disabled
// $("#modal-annotation-confirm").modal();
// $("#modal-annotation-confirm-close").click(function(){
//   $("#modal-annotation-confirm").modal('hide');
// });
