// This JavaScript is executed when the #create controller method finishes

// compose new list item
<% annotationText = render :partial => "annotations/single_annotation", :locals => { :annotation => @annotation } %>
var response = "<li><%= escape_javascript(annotationText)%></li>";
$(response).hide().prependTo("#annotationList").fadeIn("slow");

// hide the form
$("#slideUpBar").slideUp();

// first clear the editing layer, then load the newly created annotation
window.annotation_view.editLayer.removeAllFeatures();
window.annotation_view.loadSingleAnnotation("<%= annotation_url(@annotation, :format => :json) %>");