<h1>Annotations</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Created</th>
  </tr>

<% @annotations.each do |annotation| %>
  <tr>
    <td><%= link_to annotation.title, annotation %></td>
    <td><%= annotation.creation_date %></td>
  </tr>
<% end %>
</table>

<br />