<div class="row">
  <% if @parent.class.name == "Map" %>
    <h1>Annotations on <%= link_to @parent.title, @parent %></h1>
  <% elsif @parent.class.name == "User" %>
    <h1>Annotations by <%= link_to @parent.username, @parent %></h1>
  <% end %>
</div>

<% @annotations.each do |annotation| %>
	<%= render :partial => "annotations/annotation_box", :locals => { :annotation => annotation } %>
<% end %>

<div class="row">
    <div class="span12"><center><%= paginate @annotations %></center></div>
</div>

