<h1>New Annotation</h1>

<p>Here you can create a new annotation for this map:</p>

<%= render :partial => 'maps/thumbnail', :locals => { :map => @map } %>
<br style="clear:both">

<%= render 'form' %>