/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*
*= require style.css
*= require bootstrap_and_overrides
*
* This one's from http://addyosmani.github.com/jquery-ui-bootstrap/
*= require jquery-ui-1.8.16.custom.css
*= require jquery.ui.1.8.16.ie.css
*/